h1 {
    color: #3C6E71;
    text-align: center;
    font-family: Arial, sans-serif;
}

h2 {
    color: #3C6E71;
    text-align: center;
}

h3 {
    color: #3C6E71;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #284B63);
    text-decoration: underline;
}

a:visited {
    color: #284B63;
}

#comments {
    background-color: #d9d9d9;
}


.tag {
    background-color: #284B63;
    color: #ffffff;
}

/* .tag:nth-of-type(2n) {
    color: #b9d3d4;
} */

article {
    border-width: 10px;
    border-style: solid;
    border-color: #284B63;
    border-radius: 10px;
}

#profilephoto {
    border: 5px solid #3C6E71;
    border-radius: 50%;
}