h1 {
    color: rgb(0, 128, 128);
    text-align: center;
    font-weight: normal;
    letter-spacing: 10px;
    font-family: Arial, sans-serif;
}

h2, h3 {
    color: #045D5D;
    text-align: center;
    text-decoration: underline 1px;
    font-size: 50px;
}

table {
    background-color: lightgrey;
}

a {
    text-decoration: none;
}

#comments {
    background-color: antiquewhite;
}

span {
    color: blueviolet;
}

.tag {
    background-color: beige;
}

li a {
    color: black;
}

input[type="text"] {
    color: rgb(128, 0, 85);
}

a:hover {
    color:rgb(128, 0, 85);
    text-decoration: underline;
}

button:active {
    background-color: aquamarine;
}

.tag:nth-of-type(2n) {
    color:chocolate;
}

::first-letter{
    color: #284B63;
    font-weight: bolder;
}